.alert {
  margin: 8px;
  background-color: #ffffff;
  border: 1px solid #9747ff;
  border-radius: 16px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}

.alert-info {
  background: #eaeff7;
}

.alert-info .alert-box {
  background: #eaeff7;
  border: 1px solid #2e61b4;
}
.alert-info .alert-more {
  background: #2e61b4;
}
.alert-success {
  background: #f1f8f4;
}
.alert-success .alert-box {
  border: 1px solid #3e875e;
}
.alert-success .alert-more {
  background: #3e875e;
}

.alert-warning {
  background: #fcf4ed;
}
.alert-warning .alert-box {
  border: 1px solid #e48731;
}
.alert-warning .alert-more {
  background: #e48731;
}

.alert-error {
  background: #fcf2f2;
}

.alert-error .alert-box {
  border: 1px solid #d5393c;
}

.alert-error .alert-more {
  background: #d5393c;
}

.alert .alert-box {
  height: 104px;
  width: 100%;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}
.alert-box .icon {
  padding: 2px, 0px, 2px, 0px;
  gap: 8px;
}

.alert-body {
  height: 72px;
  width: 100%;
  margin: 0;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}
.alert-head {
  color: #19161d;
  height: 20px;
  margin: 0;
  font-weight: 500;
}

.alert-text {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  color: #53575a;
}
.alert-more {
  margin: 0;
  height: 24px;
  width: 81px;
  padding: 4px 8px 4px 8px;
  gap: 6px;
  border-radius: 40px;
  background: #2e61b4;
  color: #ffffff;
  background: #19161d;
}
.cros-icon {
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 16px;
  height: 16px;
  padding: 2px 0px 2px 0px;
  font-size: 16;
}

/* Toast alert */

.toast {
  color: #ffffff;
  background-color: #19161d;
  height: 40px;
  border-radius: 40px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  position: relative;
}

.toast .toast-body {
  height: 32px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
  border-style: hidden;
  outline: none;
}

.toast .toast-cross-icon {
  height: 32px;
  width: 32px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
  border-style: hidden;
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  font-size: 16;
}

.toast .text {
  color: #ffffff;
  text-align: left;
  vertical-align: text-top;
  font-size: 14px;
  font-family: Inter;
  letter-spacing: 0.20000000298023224px;
  line-height: 20px;
  border-style: hidden;
  outline: none;
  width: 185px;
}

.toast-primary {
  background: #2e61b4;
}
.toast-success {
  background: #3e875e;
}
.toast-warning {
  background: #e48731;
}
.toast-error {
  background: #d5393c;
}

/* input  */

.input {
  background-color: #ffffff;
  height: 32px;
  width: 256px;
  border: 1px solid #ebebeb;
  border-radius: 8px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-field {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.input-field::placeholder {
  padding: 4px;
  padding-left: 8px;
  color: #53575a;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.help-text {
  color: #53565a;
  text-align: left;
  vertical-align: text-top;
  font-size: 12px;
  font-family: Inter;
  line-height: 16px;
  border-style: hidden;
  outline: none;
  margin: 4px;
}
.input-lebel {
  color: #53565a;
  text-align: left;
  vertical-align: text-top;
  font-size: 12px;
  font-family: Inter;
  line-height: 16px;
}

.input-error .input {
  border: 1px solid #d5393c;
}
.input-error .help-text {
  color: #d5393c;
}

.input-error .input-lebel {
  color: #d5393c;
}
.input-bg .input {
  background: #f2f2f2;
}

.paragraph .input {
  min-height: 64px;
}
.paragraph .input-field {
  /* resize: none; */
  min-height: 80%;
}
textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}
.paragraph .input::placeholder {
  color: #d5393c;
}

.input .icon {
  display: flex;
  justify-content: space-between;
}

.input .icon {
  padding: 8px;
}

input[type="date"]:in-range::-webkit-datetime-edit-year-field,
input[type="date"]:in-range::-webkit-datetime-edit-month-field,
input[type="date"]:in-range::-webkit-datetime-edit-day-field,
input[type="date"]:in-range::-webkit-datetime-edit-text {
  color: transparent;
}

/* Avatar */
.avatar-circle-5 {
  background: #fdd0d0;
  height: 40px;
  width: 40px;
  border-radius: 120px;
  padding: 1px;
}
.avatar-circle-4 {
  background: #fdd0d0;
  height: 32px;
  width: 32px;
  border-radius: 120px;
  padding: 0px;
}
.avatar-circle-3 {
  background: #fdd0d0;
  height: 24px;
  width: 24px;
  border-radius: 120px;
  padding: 0px;
}
.avatar-circle-2 {
  background: #fdd0d0;
  height: 20px;
  width: 20px;
  border-radius: 120px;
  padding: 0px;
}
.avatar-circle-1 {
  background: #fdd0d0;
  height: 16px;
  width: 16px;
  border-radius: 120px;
  padding: 0px;
}
.avatar-square-5 {
  background: #fbdede;
  height: 40px;
  width: 40px;
  border-radius: 8px;
  padding: 0px;
}
.avatar-square-1 {
  background: #fbdede;
  height: 16px;
  width: 16px;
  border-radius: 8px;
  padding: 0px;
}
.avatar-square-4 {
  background: #fbdede;
  height: 32px;
  width: 32px;
  border-radius: 8px;
  padding: 0px;
}
.avatar-square-3 {
  background: #fbdede;
  height: 24px;
  width: 24px;
  border-radius: 8px;
  padding: 0px;
}
.avatar-square-2 {
  background: #fbdede;
  height: 20px;
  width: 20px;
  border-radius: 8px;
  padding: 0px;
}
.av {
  display: flex;
  flex: row;
  gap: 8px;
}
.avatar-group {
  height: 40px;
  width: 208px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
}

.avatar-group .avatar-circle-5 {
  margin-right: -16px;
  border: 1px solid white;
}
.avatar-group .avatar-circle-4 {
  margin-right: -12px;
  border: 1px solid white;
}
.avatar-group .avatar-circle-3 {
  margin-right: -8px;
  border: 1px solid white;
}
.avatar-group .avatar-circle-2 {
  margin-right: -4px;
  border: 1px solid white;
}
.avatar-group .avatar-text {
  position: relative;
  text-align: center;
  background-color: #eaeaea;
  color: #53565a;
}

.disable img {
  filter: grayscale(80%);
}

/* Badge */

.badge {
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  height: 24px;
  border-radius: 6px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}

.badge .text {
  color: #19161d;
  text-align: left;
  vertical-align: text-top;
  font-size: 12px;
  font-family: Inter;
  /* line-height: 16px; */
  border-style: hidden;
  outline: none;
}
.badge .icon {
  height: 16px;
  width: 16px;
  margin: 0;
  padding: 0;
  border-style: hidden;
  outline: none;
  /* font-size: 20px; */
}
.badge .number {
  background-color: #19161d;
  color: white;
  height: 16px;
  width: 22px;
  border-radius: 40px;
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.fade * {
  filter: opacity(0.5);
}

.badge-bg {
  background: #f2f2f2;
}
.progres {
  color: white;
  background: #2e61b4;
}
.done {
  color: white;
  background: #3e875e;
}
.warning {
  color: white;
  background: #e48731;
}
.failed {
  color: white;
  background: #d5393c;
}
.hold {
  color: white;
  background: #a56eff;
}
.group {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.task .text {
  color: #ffffff;
  text-align: left;
  vertical-align: text-top;
  font-size: 12px;
  font-family: Inter;
  line-height: 16px;
  border-style: hidden;
  outline: none;
  width: 64px;
}

.breadcrums {
  height: 20px;
  width: 263px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
  position: relative;
}

.breadcrums * {
  color: #53565a;
  text-align: left;
  vertical-align: text-top;
  font-size: 12px;
  font-family: Inter;
  line-height: 16px;
  border-style: hidden;
  outline: none;
  left: 0px;
  top: 0px;
}
.breadcrums :nth-child(n + 9) {
  display: none;
}
.breadcrums :nth-last-child(2) {
  display: inline;
}
.breadcrums :nth-child(8)::after {
  content: " ... ";
}

.breadcrums :last-child {
  display: inline;
  color: #19161d;
}

.breadcrums-2 {
  height: 16px;
  border-radius: 40px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}
.breadcrums-2 .active {
  border-bottom: 1px solid black;
}

/* Button */

.btn-xl {
  font-size: 16px;
  height: 48px;
  border: none;
  border-radius: 48px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 14px;
  padding-bottom: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
}

.btn-xl .text {
  text-align: left;
  vertical-align: text-top;
  font-size: 14px;
  font-family: Inter;
  letter-spacing: 0.20000000298023224px;
  line-height: 20px;
  border-style: hidden;
  outline: none;
  width: 45px;
}

.btn {
  height: 40px;
  border: none;
  border-radius: 48px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
}
.btn:hover {
  background: #ebebeb;
}
.btn .text {
  text-align: left;
  vertical-align: text-top;
  font-size: 14px;
  font-family: Inter;
  letter-spacing: 0.20000000298023224px;
  line-height: 20px;
  border-style: hidden;
  outline: none;
  width: 45px;
}

.btn-md {
  height: 32px;
  border: none;
  border-radius: 40px;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 6px;
  padding-bottom: 6px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
}
.btn .text {
  text-align: left;
  vertical-align: text-top;
  font-size: 14px;
  font-family: Inter;
  letter-spacing: 0.20000000298023224px;
  line-height: 20px;
  border-style: hidden;
  outline: none;
  width: 45px;
}

.btn-sm {
  height: 24px;
  border: none;
  border-radius: 40px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
  position: relative;
}

.btn-sm .text {
  text-align: left;
  vertical-align: text-top;
  font-size: 12px;
  font-family: Inter;
  line-height: 16px;
  border-style: hidden;
  outline: none;
  width: 38px;
}

.btn-border {
  background: none;
  border: 1px solid #ebebeb;
}
.btn-border:hover {
  border: 1px solid #2d2a32;
}

.dark {
  color: #ffffff;
  background: #19161d;
}
.dark:hover {
  background: #2d2a32;
}
.error {
  color: #ffffff;
  background: #d5393c;
}
.error:hover {
  background: #b83134;
}
.primary {
  color: #ffffff;
  background: #2e61b4;
}
.primary:hover {
  background: #234c90;
}
.warning {
  color: #ffffff;
  background: #e48731;
}
.warning:hover {
  background: #c9772b;
}
.success {
  color: #ffffff;
  background: #3e875e;
}
.success:hover {
  background: #33704e;
}
.btn-text {
  color: #000;
  background: none;
}
.btn-text:hover {
  color: #53575a;
}

.btn-link {
  padding: 0px;
  border-radius: 0;
  color: #000;
  background: none;
  border-bottom: 1px solid #000;
}

/* Checkbox  */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  height: 18px;
  width: 18px;
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Search  */
.search {
  background-color: #ffffff;
  height: 32px;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  position: relative;
  border: 1px solid #ebebeb;
}
.search input::placeholder {
  color: #53575a;
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}
.search .icon {
  width: 16px;
  height: 16px;
  gap: 0px;
  padding: 1px;
  opacity: 0px;
}
.search input {
  color: #19161d;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}
.search-border {
  border: 1px solid #2d2a32;
}
.search-bg {
  background: #f2f2f2;
  border: none;
}
.search-md {
  height: 24px;
  padding: 4px;
}
.search-sm {
  height: 24px;
  padding: 2px;
}
.search-round {
  padding-left: 8px;
  border-radius: 40px;
}

/* pagginate */
.paginate {
  height: 24px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  position: relative;
}
.paginate * {
  background: none;
  cursor: pointer;
  text-align: center;
  height: 24px;
  width: 24px;
  font-size: 24px;
  border-radius: 80px;
  border-style: hidden;
  outline: none;
}

.lg {
  height: 32px;
  width: 32px;
  line-height: 32px;
}
.active {
  background: #ebf1fc;
  border-radius: 80px;
  text-align: center;
}

/* Togle button  */

.togle {
  height: 20px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  position: relative;
}
.togle input[type="checkbox"] {
  width: 0;
  height: 0;
  visibility: hidden;
}

.togle label {
  background: #ebebeb;
  display: block;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  width: 36px;
  height: 20px;
  padding: 2px;
  border-radius: 32px;
}

.togle label::after {
  content: "";
  box-shadow: 0px 2px 6px 0px #00000029;
  background-color: #ffffff;
  position: absolute;
  border-radius: 70px;
  transition: 0.5s;
  width: 16px;
  height: 16px;
  top: 4px;
  left: 4px;
}
.togle input:checked + label:after {
  left: calc(100% - 4px);
  transform: translateX(-100%);
}
.togle input:checked + label {
  background: #19161d;
}
